#section6 {
    padding: 100px 0 150px 0;
    border-top: 1px solid var(--line-color);
    overflow: hidden;

    .skill__flex {
        width: 100%;
        display: flex;
        padding-bottom: 150px;

        .skill__left {
            width: 10%;
            position: relative;
            .svg {
                text-align: right;
                padding-right: 5%;
                svg {
                    animation: arrowAnimation 1.4s infinite;
                    width: 4.5vw;
                    height: 4.5vw;
                }
            }
        }
        .skill__right {
            width: 90%;

            .desc1 {
                font-family: "GmarketSans";
                font-weight: 900;
                font-size: 4vw;
                line-height: 1.2;
                text-align: right;
                padding: 0 5% 0 10%;
                text-transform: uppercase;
            }
        }
    }
    .skill__inner {
        padding-left: 50px;
        .skill__flex__box {
            display: flex;
            width: 200%;
            overflow: hidden;
            transition: margin-left 0.5s ease-out;
            
            .my__skill {
                width: 50vw;
                height: 33vw;
                border: 1px solid var(--line-color);
                margin-right: 15px;
                border-radius: 5px;
                
                p {
                    padding: 3% 6% 1% 6%;
                }

                .sub__tit {
                    font-size: 2.5vw;
                }

                .sub__desc {
                    font-size: 1.8vw;
                }
            }
        }

        .skill__scrollBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 48px;
            padding-right: 20px;

            .scroll__num {
                padding-right: 1vw;

                span {
                    font-size: 1.28rem;
                    font-size: 1.05vw;
                }
            }

            .bar {
                max-width: 85%;
                width: 75vw;
                height: 2px;
                background-color: var(--line-color);
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: #000;
                    height: 2px;
                    width: 100%;
                    transform: scale(0);
                }
            }

            .rem {
                width: 10%;
                display: flex;
                padding-left: 2%;

                div {
                    border-radius: 50%;
                    border: 1px solid var(--line-color);
                    width: 4vw;
                    height: 3.4vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    transition: all 0.3s;
                    cursor: pointer;
                    pointer-events: auto;

                    svg {
                        width: 1.2vw;
                        height: 1.2vw;
                    }

                    &:hover svg {
                        z-index: 10;
                    }

                    &:hover svg path {
                        fill: white !important;
                    }

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: black;
                        border-radius: 50%;
                    }

                    &::before {
                        top: -1px;
                        bottom: -1px;
                        right: -1px;
                        left: -1px;
                        transform: scale(0);
                        transition: transform 0.65s cubic-bezier(0.19, 1, 0.22, 1);
                    }

                    &::after {
                        opacity: 0.15;
                        top: 0px;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;
                        transform: scale(0);
                        transition: opacity 0.65s cubic-bezier(0.19, 1, 0.22, 1);
                    }

                    &:hover::before,
                    &:hover::after {
                        transform: scale(1);
                    }
                }

                .prev {
                    margin-right: 0.4vw;
                }
            }
        }
    }
}

@media (max-width: 1180px) {
    #section6 {
        .skill__inner {
            .skill__scrollBar {
                .scroll__num {
                    span {
                        font-size: 1.4vw !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 850px) {
    #section6 {
        .skill__flex {
            padding: 0 5%;

            .skill__left {
                display: none;
            }

            .skill__right {
                width: 100%;
                .HIDDEN p {
                    text-align: start;
                    font-size: 6.5vw;
                    padding: 0;
                }
            }
        }
        .skill__inner {
            padding: 50px 0 0 20px !important;
            .skill__flex__box {
                .my__skill {
                    .sub__desc {
                        font-size: 2vw !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 650px) {
    #section6 {
        .skill__flex__box {
            .my__skill {
                width: 89vw !important;
                height: 59vw !important;

                .sub__tit {
                    font-size: 4vw !important;
                }

                .sub__desc {
                    font-size: 3vw !important;
                }
            }
        }

        .skill__inner {
            .skill__scrollBar {
                justify-content: start;
                padding-left: 3%;

                .scroll__num {
                    width: 20%;
                    margin: 0;
                    padding: 0;
                    margin-top: 5px;

                    span {
                        font-size: 4vw !important;
                    }
                }

                .rem {
                    width: 50%;
                    padding-left: 0;

                    div {
                        width: 7vw;
                        height: 7vw;
                    }

                    .prev {
                        margin-right: 2vw;
                    }

                    div {
                        svg {
                            width: 2vw;
                            height: 2vw;
                        }
                    }
                }

                .bar {
                    display: none;
                }
            }
        }
    }
}
