#section6 {
    padding: 100px 0 0 0;
    border-top: 1px solid var(--line-color);
  
    .skill__inner {
      padding-left: 50px;
    }
  
    .skill__flex {
      width: 100%;
      display: flex;
      padding-bottom: 150px;
  
      .skill__left {
        width: 10%;
        position: relative;
      }
  
      .skill__right {
        width: 90%;
  
        p {
          font-family: var(--mainfont-gmarket);
          font-weight: 900;
          font-size: 4vw;
          line-height: 1.2;
          text-align: right;
          padding: 0 5% 0 10%;
        }
      }
    }
  
    #desc1-1 {
      padding-top: 0;
    }
  
    .skill__left {
      .svg {
        svg {
          animation: arrowAnimation 1.4s infinite;
          width: 4.5vw;
          height: 4.5vw;
        }
      }
    }
  
    .skill__inner {
      .skill__flex__box {
        display: flex;
        width: 500%;
        overflow: hidden;
  
        .my__skill {
          width: 45vw;
          height: 30vw;
          border: 2px solid var(--line-color);
          margin-right: 30px;
          border-radius: 16px;
  
          p {
            padding: 3% 3% 1% 5%;
          }
  
          .sub__tit {
            font-size: 2.5vw;
          }
  
          .sub__desc {
            font-size: 1.8vw;
          }
        }
      }
  
      .skill__scrollBar {
        display: flex;
        padding-top: 30px;
        padding-right: 20px;
  
        .scroll__num {
          width: 10%;
          padding-right: 10px;
  
          span {
            font-size: 1.3rem;
            line-height: 53px;
          }
        }
  
        .bar {
          width: 190%;
          height: 2px;
          background-color: black;
          margin-top: 23px;
        }
  
        .rem {
          width: 19%;
          display: flex;
          justify-content: flex-end;
  
          div {
            border-radius: 50%;
            border: 1px solid black;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
  
            &:hover {
              background-color: black;
  
              svg {
                path {
                  fill: white;
                }
              }
            }
          }
  
          .prev {
            margin-right: 1vw;
          }
        }
      }
    }
  }